<!DOCTYPE html>
<html lang="en">
<head>
 <h1>atef phone shop</h1>
 <p>hello dear costomer you can buy now a new phone in an easy way </p>
    <title>foot locker</title>
    <style>
* {
  box-sizing: border-box;

}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>

</head>
<body>


<div class="row">
  <div class="column">
    <img src="https://media.cnn.com/api/v1/images/stellar/prod/nike-motiva-lead-image-cnnu.jpg?c=16x9&q=h_720,w_1280,c_fill" alt="Snow" style="width:100%">
    <p>price:150</p>
  </div>
  <div class="column">
    <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/B9FF/production/_117751674_satan-shoes1.jpg" alt="Forest" style="width:100%">
    <p>runing shoes price:200</p>
  </div>
  <div class="column">
    <img src="https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2hvZXN8ZW58MHx8MHx8fDA%3D&w=1000&q=80" alt="Mountains" style="width:100%">
    <p>price:130</p>
  </div>
</div>

</body>
</html>